<!DOCTYPE html>
<html>
<body>

<nav id="_main-navbar" class="navbar  navbar-default  navbar-fixed-top  js-sticky-reference" data-th-fragment="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand  hidden-xs" href="#">
        <img alt="Brewer!" data-th-src="@{/images/logo.png}">
      </a>

      <ul class="nav  navbar-nav">
        <li>
          <a href="#" class="js-sidebar-toggle">
            <span class="fa  fa-bars"></span>
          </a>
        </li>
      </ul>
    </div>

    <ul class="nav  navbar-nav  navbar-right">
      <li>
        <a href="#"><em class="fa  fa-sign-out"></em></a>
      </li>
    </ul>
  </div>
</nav>

</body>
</html>
