<!DOCTYPE html>
<html>
<body>

<aside class="aw-layout-sidebar  js-sidebar" data-th-fragment="sidebar">
  <div class="aw-menu__content">
    <nav class="aw-menu  js-menu">
      <ul class="aw-menu__list">
        <li class="aw-menu__item">
          <a href="#">
            <span class="fa  fa-fw  fa-home"></span><span>Dummy Item A</span>
          </a>
        </li>

        <li class="aw-menu__item  is-active">
          <a href="#">
            <span class="fa  fa-fw  fa-file-text"></span><span>Dummy Item B</span>
            <span class="aw-menu__navigation-icon  fa"></span>
          </a>

          <ul class="aw-menu__list  aw-menu__list--sublist">
            <li class="aw-menu__item  aw-menu__item--link">
              <a href="#">Dummy Sub Item A</a>
            </li>
            <li class="aw-menu__item  aw-menu__item--link  is-active">
              <a href="#">Dummy Sub Item B</a>
            </li>
            <li class="aw-menu__item  aw-menu__item--link">
              <a href="#">Dummy Sub Item C</a>
            </li>
          </ul>
        </li>

        <li class="aw-menu__item  is-expanded">
          <a href="#">
            <span class="fa  fa-fw  fa-file-text"></span><span>Dummy Item C</span>
            <span class="aw-menu__navigation-icon  fa"></span>
          </a>

          <ul class="aw-menu__list  aw-menu__list--sublist">
            <li class="aw-menu__item  aw-menu__item--link">
              <a href="#">Dummy Sub Item A</a>
            </li>
            <li class="aw-menu__item  aw-menu__item--link">
              <a href="#">Dummy Sub Item B</a>
            </li>
            <li class="aw-menu__item  aw-menu__item--link">
              <a href="#">Dummy Sub Item C</a>
            </li>
            <li class="aw-menu__item  aw-menu__item--link">
              <a href="#">Dummy 403 Page</a>
            </li>
            <li class="aw-menu__item  aw-menu__item--link">
              <a href="#">Dummy 404 Page</a>
            </li>
            <li class="aw-menu__item  aw-menu__item--link">
              <a href="#">Dummy 500 Page</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</aside>

</body>
</html>
